<ion-view title="Usuario">
  <ion-content class="padding">
    <h1>Datos personales:</h1>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre y Apellido</span>
        <input type="text" ng-model="user.name" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Telefono</span>
        <input type="text" ng-model="user.telephone" placeholder="">
      </label>
    </div>

    <button on-touch="save()" class="button button-block button-positive">
      Guardar
    </button>

  </ion-content>
</ion-view>
