<ion-view title="Reservas">
  <ion-content class="padding">
    <h1>Nueva Reserva</h1>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">Empresa</div>
        <select ng-model="book.company" ng-options="company as company.Nombre for company in companies"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Ramal</div>
        <select ng-model="book.branch" ng-options="branch as branch.Descripcion for branch in book.company.Recorridos"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Sentido</div>
        <select ng-model="book.way" ng-options="way for way in ['Ida', 'Vuelta']"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Día</div>
        <select ng-model="book.day" ng-options="day for day in ['Hoy', 'Mañana']"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Parada</div>
        <select ng-model="book.stop" ng-options="stop[2] as stop[2] for stop in book.branch[book.way].Paradas"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Horario</div>
        <select ng-model="book.hour" ng-options="hour for hour in book.branch[book.way].Horarios"></select>
      </label>

      <button on-touch="create()" class="button button-block button-positive">
        Reservar!
      </button>

    </div>

  </ion-content>
</ion-view>
