<ion-view title="Reservas">
  <ion-content class="padding">
    <h1>Nueva Reserva</h1>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">Empresa</div>
        <select ng-model="book.company" ng-options="company as company.Nombre for company in companies"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Ramal</div>
        <select ng-model="book.branch" ng-options="branch as branch.Descripcion for branch in book.company.Recorridos"></select>
      </label>

      <div class="row" style="padding:0px;">
        <div class="col" style="padding:0px;">
          <label class="item item-radio">
            <input type="radio" name="way" ng-model="book.way" value="Ida">
            <div class="item-content">Ida</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col" style="padding:0px;">
          <label class="item item-radio">
            <input type="radio" name="way" ng-model="book.way" value="Vuelta">
            <div class="item-content">Vuelta</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>

      <div class="row" style="padding:0px;">
        <div class="col" style="padding:0px;">
          <label class="item item-radio">
            <input type="radio" name="day" ng-model="book.day" value="Hoy">
            <div class="item-content">Hoy</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col" style="padding:0px;">
          <label class="item item-radio">
            <input type="radio" name="day" ng-model="book.day" value="Mañana">
            <div class="item-content">Mañana</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">Parada</div>
        <select ng-model="book.stop" ng-options="stop[2] as stop[2] for stop in book.branch[book.way].Paradas"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Horario</div>
        <select ng-model="book.hour" ng-options="hour for hour in book.branch[book.way].Horarios"></select>
      </label>

      <button ng-show="!book.id" on-touch="create()" class="button button-block button-positive">Reservar!</button>
      <button ng-show="book.id" on-touch="cancel()" class="button button-block button-assertive">Cancelar</button>

    </div>

  </ion-content>
</ion-view>
