<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <ion-tab title="Reservar" icon="icon ion-home" href="#/tab/booking">
    <ion-nav-view name="tab-booking"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Historial" icon="icon ion-heart" href="#/tab/history">
    <ion-nav-view name="tab-hisotry"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Usuario" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
